# SOURCE DATABASE
POSTGRES_DB_SOURCE: source_db
POSTGRES_USER_SOURCE: postgres
POSTGRES_PASSWORD_SOURCE: your_source_db_password

# DESTINATION DATABASE
POSTGRES_DB_DEST: destination_db
POSTGRES_USER_DEST: postgres
POSTGRES_PASSWORD_DEST: your_dest_db_password

# AIRFLOW DATABASE
POSTGRES_USER_AIRFLOW:airflow
POSTGRES_PASSWORD_AIRFLOW:airflow
POSTGRES_DB_AIRFLOW:your_airflow_db_password

# WEBSERVER ENVIRONMENT
AIRFLOW__WEBSERVER__DEFAULT_USER_USERNAME:airflow
AIRFLOW__WEBSERVER__DEFAULT_USER_PASSWORD:your_webserver_default_user_password
AIRFLOW_WWW_USER_USERNAME:airflow
AIRFLOW_WWW_USER_PASSWORD:your_user_password
AIRFLOW__WEBSERVER__SECRET_KEY:your_webserver_secret_key

# SCHEDULER ENVIRONMENT
AIRFLOW__CORE__FERNET_KEY:your_core_fernet_key